@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.hidden {
  display: none;
}
body {
  height: 100vh;
  background-color: #040404;
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#animate {
  position: fixed;
  background-color: #040404;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  font-size: 70px;
  z-index: 100;
}
#animate div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin: auto;
  animation: load 1000ms infinite 0s ease-in-out;
  animation-direction: alternate;
  color: #ffffff;
  text-shadow: 0 0 10px #040404;
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    letter-spacing: 2px;
    opacity: 0.08;
    filter: blur(3px);
  }
}
@media all and (max-width: 991.98px) {
  #big-box {
    overflow: hidden;
    transform: translate(0%, 8vh);
  }
  #big-box #button-top button {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    border: 2px solid #ffffff;
    display: block;
    width: 80%;
    padding: 20px 0px;
    margin: 20px auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: 19px;
    transition: all 200ms ease 0s;
  }
  #big-box #button-top .clicked {
    color: #040404;
    background-color: #ffffff;
  }
  #big-box #timer {
    text-align: center;
    color: #ffffff;
    font-size: 30vw;
  }
  #big-box #button-bottom {
    margin-top: 30px;
    text-align: center;
  }
  #big-box #button-bottom #startBtn {
    padding: 10px 30px;
    background-color: #ffffff;
    color: #040404;
  }
  #big-box #button-bottom #stopBtn {
    padding: 10px 32px;
    background-color: #040404;
    color: #ffffff;
  }
  #big-box #button-bottom .btn {
    width: 80%;
    cursor: pointer;
    font-size: 33px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin: 0px auto;
    transition: all 200ms ease 0s;
  }
  #big-box #button-bottom i {
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-size: 35px;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 20px 20px;
    transition: all 200ms ease 0s;
  }
  #big-box #button-bottom i:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  #my-id {
    position: fixed;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -98%);
  }
  #my-id p {
    color: #ffffff;
    font-size: 14px;
  }
  #my-id p a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px transparent;
    font-size: 20px;
    padding: 20px;
    transition: all 300ms ease 0s;
  }
  #my-id p a:hover {
    color: #44c0f1;
  }
  #FullScreen {
    display: none;
  }
}
@media all and (min-width: 992px) {
  #big-box {
    padding: 40px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #big-box #button-top {
    text-align: center;
  }
  #big-box #button-top button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin: 0px 15px;
    transition: all 200ms ease 0s;
  }
  #big-box #button-top button:hover {
    color: #040404;
    background-color: #ffffff;
  }
  #big-box #button-top .clicked {
    color: #040404;
    background-color: #ffffff;
  }
  #big-box #timer {
    text-align: center;
    color: #ffffff;
    font-size: 200px;
  }
  #big-box #button-bottom {
    margin-top: 30px;
    text-align: center;
  }
  #big-box #button-bottom #startBtn {
    padding: 10px 30px;
    background-color: #ffffff;
    color: #040404;
  }
  #big-box #button-bottom #stopBtn {
    padding: 10px 32px;
    background-color: #040404;
    color: #ffffff;
  }
  #big-box #button-bottom .btn {
    cursor: pointer;
    font-size: 33px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin: 0px 15px;
    transition: all 200ms ease 0s;
  }
  #big-box #button-bottom .btn:hover {
    opacity: 0.7;
  }
  #big-box #button-bottom i {
    cursor: pointer;
    color: #ffffff;
    font-size: 35px;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0px 20px;
    transition: all 200ms ease 0s;
  }
  #big-box #button-bottom i:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  #my-id {
    position: fixed;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -98%);
  }
  #my-id p {
    color: #ffffff;
    font-size: 14px;
  }
  #my-id p a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px transparent;
    font-size: 20px;
    padding: 20px;
    transition: all 300ms ease 0s;
  }
  #my-id p a:hover {
    color: #44c0f1;
  }
  #FullScreen {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 0px 0px 20px 0px;
    color: #ffffff;
    padding: 15px 30px;
    transition: all 200ms ease 0s;
  }
  #FullScreen:hover {
    opacity: 0.7;
  }
}
